.home-page {
  min-height: 100vh;
  background-color: #1abc9c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.home-avatar {
  width: 250px;
}
.home-subtitle {
  color: white;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}