.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.title-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.title-decoration {
    display: flex;
    align-items: center;
}

.title-line {
    width: 80px;
    height: 4px;
    
}

.title-star {
    width: 20px;
    height: 20px;

    margin-inline: 1rem;
}

.text-dark .title-text,
.text-dark .title-line,
.text-dark .title-star {
    color: #2c3e50;
}

.text-white .title-text,
.text-white .title-line,
.text-white .title-star {
    color: white;
}