/* Navbar.css */

.custom-navbar {
  background-color: #2c3e50;
  z-index: 1000;
  padding-top: 3rem;
  padding-bottom: 3rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar-scrolled {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.custom-toggler {
  background-color: #1abc9c;
}

.active-link {
  background-color: #1abc9c !important;
}